<html>
<body>
<h2>Question</h2>

<div>
    <b>
    {{ question.title|escape }}
    </b>
    <br>
    <form action="/RSS" method="post">
        <input type="hidden" name="questionid" value={{ question.key.id|escape }}>
        <input type="submit" value="RSS"></form>
    </form>
    <br>
	<hr>
	<form action="/votequestion" method="post">
        <input type="hidden" name="questionid" value={{ question.key.id|escape }}>
    	<input type="radio" name=votequestion value="Up">Vote Question Up<br>
    	<input type="radio" name=votequestion value="Down">Vote Question Down<br>
        <input type="submit" value="Vote"></form>
    </form>
    Total vote count 
    <label>{{ question.numvote }}</label> 
</div>
<br>
{{ question.content|urlize }}
<br>
<img src={{ question.imageurl|escape }}></img>
<br>
tags
<br>
{% for tag in question.tags %}
    {{ tag|escape }}
{% endfor %}
<br>
last modified at
<small>[<i>{{ question.date_modification.ctime }}</i>]</small>
created at
<small>[<i>{{ question.date_create.ctime }}</i>]</small>
author
<b>
    <code>{{ question.author }}</code>
</b>
<br>
<form action="/editquestion_form" method="post">
    <input type="hidden" name="questionid" value={{ question.key.id|escape }}>
    <input type="submit" value="Edit question"></form>
</form>
<br>
<form action="/removequestion" method="post">
    <input type="hidden" name="questionid" value={{ question.key.id|escape }}>
    <input type="submit" value="Admin only: remove question"></form>
</form>


<br>
<br>
<h2>Answers</h2>
{% for answer in answers %}
    <br>
    {{ answer.content|escape }}
    <br>
    <img src={{ answer.imageurl|escape }}></img>
    <br> 
     <div>
        <form action="/voteanswer" method="POST">
            <input type="hidden" name="questionid" value={{ question.key.id|escape }}>
            <input type="hidden" name="answerid" value={{ answer.key.id|escape }}>            
        	<input type="radio" name=voteanswer value="Up">Vote Answer Up<br>
        	<input type="radio" name=voteanswer value="Down">Vote Answer Down<br>
            <input type="submit" value="Vote"></form>
        </form>
        Total vote count
        <label>{{ answer.numvote }}</label> 
    </div>
    <br>
    last modified at
    <small>[<i>{{ answer.date_modification.ctime }}</i>]</small>
    created at
    <small>[<i>{{ answer.date_create.ctime }}</i>]</small>
    author
    <b>
        <code>{{ answer.author }}</code>
    </b>
    <br>
    <form action="/editanswer_form" method="post">
        <input type="hidden" name="questionid" value={{ question.key.id|escape }}>
        <input type="hidden" name="answerid" value={{ answer.key.id|escape }}>
        <input type="submit" value="Edit answer"></form>
    </form>

    <form action="/removeanswer" method="post">
        <input type="hidden" name="questionid" value={{ question.key.id|escape }}>
        <input type="hidden" name="answerid" value={{ answer.key.id|escape }}> 
        <input type="submit" value="Admin only: remove answer"></form>
    </form>

{% endfor %}

</body>
</html>


